{{ define "main" }}
  {{ $groupByYear := .Params.groupByYear | default (.Site.Params.list.groupByYear | default "none") }}
  {{ $showDate := .Params.showDate | default (.Site.Params.list.showDate | default true) }}

  {{/* Breadcrumbs */}}
  {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false ) }}
  {{ partial "breadcrumbs.html" . }}
  {{ end }}

  <h1 class="pg-title">{{ .Title | emojify }}</h1>
  {{ .Content }}
  <section class="lst-content">
    {{ if $groupByYear }}
      {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
      <h2 class="lst-type"> {{ .Key }} </h2>
        <ul class="lst">
        {{ range .Pages }}
          {{ partial "list/page-link.html" (dict "page" . "showDate" $showDate) }}
        {{ end }}
        </ul>
      {{ end }}
    {{ else }}
    <ul class="lst">
    {{ range (.Paginate .Pages).Pages }}
      {{ partial "list/page-link.html" (dict "page" . "showDate" $showDate) }}
    {{ end }}
    </ul>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </section>

{{ end }}
