@import url("theme.css");

html {
  line-height: 1.5rem;
  scroll-behavior:smooth
}

body {
  font-family: var(--ff);
  background: var(--secondary-color);
  color: var(--primary-color);
  margin: 0 8px;
  padding: 0;
  transition: background 50ms ease-in-out, color 50ms ease-in-out;
}

header {
  display: flex;
  align-items:center;
  line-height: 2.5em;
  margin: 1rem 0 1rem 0rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--secondary-color-dark);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 2px solid var(--tertiary-color);
  word-break: break-word;
  word-wrap: break-word;
  overflow: break-word;
}

a:hover {
  color: var(--link-color);
}

mark {
  background-color: var(--tertiary-color-light);
  color: var(--primary-color);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid var(--secondary-color-dark);
  margin-top: 1rem;
  padding-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2rem;
  line-height: normal;
}

h1::before { content: '# '; }
h2::before { content: '## '; }
h3::before { content: '### '; }
h4::before { content: '#### '; }
h5::before { content: '##### '; }
h6::before { content: '###### '; }

ul {
  list-style-type: none;
  padding-left: 20px;
}

ul li:before {
  content: "-";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* https://github.com/mnjm/kayal/issues/62, https://github.com/mnjm/kayal/issues/78 */
main ul li:has(p)::before {
  float: left;
}
main ul li p:first-of-type {
  display: inline;
}
main ul.lst li:has(div.lst-a)::before {
  float: left;
}
main ul.lst li div.lst-a {
  display: inline;
}

/* Without this, there's more space between <p>s in <li>, than between <li>s themselves */
main ul li p  {
  margin-top: 1ch;
}

/* https://github.com/mnjm/kayal/pull/76 */
li:has(p) + li:has(p) {
  margin-top: 7px;
}
li p:last-of-type {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: var(--radius);
}

figcaption {
  text-align: center;
}

figure h4::before {
  content: '↳ ';
}

/* Code blocks */
code {
  background-color: var(--secondary-color-dark);
  padding: 0 .2em;
  word-break: break-word;
  word-wrap: break-word;
  overflow: break-word;
  white-space: nowrap;
}

/*a code {*/
/*  border-bottom: 2px solid var(--tertiary-color);*/
/*}*/

pre {
  line-height: 1.5;
  padding: 0.5em;
}

pre code {
  /* `code { white-space: nowrap; }` messes up whitespace in multiline code blocks */
  white-space: inherit;

  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
  display: block;
  overflow-x: auto;
}

.highlight pre code {
  overflow-x: unset;
}

pre:has(code) {
  color: var(--code-fg);
  background-color: var(--code-bg);
  border-radius: var(--radius);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.highlight>pre,
.highlight>div {
  border-radius: var(--radius);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  overflow-x: auto;
}

.highlight tbody pre {
  margin: 0;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 1rem;
}

table th {
  padding: 6px;
  border-bottom: 2px solid var(--tertiary-color);
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 600;
  white-space: nowrap;
}

table td {
  padding: 6px;
  border-top: 1px solid var(--secondary-color-dark);
  font-size: 0.93rem;
  line-height: 1.4;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

blockquote {
  border-left: 4px solid var(--tertiary-color);
  margin: 0;
  padding-left: 2rem;
  background: var(--secondary-color-dark);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0 var(--radius) var(--radius) 0;
}

details {
  border-left: 4px solid var(--tertiary-color);
  margin: 0;
  padding: 0.25rem 0.5rem;
  background: var(--secondary-color-dark);
  border-radius: 0 var(--radius) var(--radius) 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Custom animation */
@keyframes revealContent {
0% { opacity: 0; }
100% { opacity: 1; }
}

details[open] div {
  animation: revealContent 0.5s ease-out forwards;
}

::selection {
  background: var(--tertiary-color);
  color: #fff;
}

.header-cntr {
  display: flex;
  justify-content:space-between;
  width: 100%
}

.content {
  margin: 0 auto;
  max-width: 900px;
}

/* Header */
.title {
  display: inline-flex;
  align-items: center;
  color: var(--tertiary-color);
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: none;
}

.title img {
  margin-right: 0.2em;
  display: inline;
  width: 32px;
  height: auto;
}

.title:hover {
  color: var(--link-color);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-menu ul {
  margin: 0;
}

#main-menu li {
  display: inline;
}

#main-menu li:before {
  content: none;
}

#main-menu a {
  margin: 0.7em 0.5em;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: none;
}

#main-menu a:hover {
  border-bottom: 2px solid var(--tertiary-color);
}

#main-menu a svg {
  height: 1.1em;
  width: 1.1em;
  vertical-align: text-top;
}

#main-menu a.active {
  border-bottom: 2px solid var(--tertiary-color);
}

.mm-normal {
  display: inline
}

.mm-mobile-open ul {
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--secondary-color), 0.7);
  z-index: 30;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#mob-hb-icon, #mob-x-icon {
  display: none;
  background-color: inherit;
}

@media (max-width: 800px) {
  #mob-hb-icon {
    display: block;
  }
  .mm-normal {
    display: none;
  }
}

.main-menu a.lnk:hover, .socials-icon svg:hover {
  color: var(--link-color);
  border-bottom: 2px solid var(--tertiary-color);
}

.menu-btn svg,
.copy-button svg{
  height: 1.1em;
  width: 1.1em;
  vertical-align: text-top;
}

.menu-btn:hover {
  color: var(--tertiary-color);
}

html.dark #moon {
  display: none;
}

html:not(.dark) #sun {
  display: none;
}

.menu-btn {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#theme-switcher div {
  display: inline;
}

.avatar img {
  height: 100px;
  width: 100px;
  padding: 8px;
  border-radius: 50%;
}

.avatar.top {
  text-align: center;
}

.avatar.left {
  margin-top: 16px;
  position: relative;
  float: left;
}

.avatar.right {
  margin-top: 16px;
  position: relative;
  float: right;
}

.featured {
  margin-top: 0.2rem;
  clear: both;
}

.socials span {
  font-size: 1.5rem;
}

.socials ul {
  text-align: center;
  padding: 0;
}

.socials li::before {
  content: none;
}

.socials a {
  border-bottom: none;
}

.socials li {
  display: inline;
  margin: 0.2em;
}

.socials-icon svg {
  height:1.5em;
  width:1.5em;
  border-bottom: 2px solid var(--secondary-color);
}

/* List */
.lst-content {
  margin-top: 2rem;
}

.lst-type {
  margin-bottom: 0.2em;
  margin-top: 1.2em;
}

.lst-basic,
.lst-card {
  margin-top: .2em;
}

.lst-card {
  padding-left: 0;
}

.lst-basic li {
  display: flex;
}

.lst-basic li div {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lst time {
  white-space: nowrap;
}

.lst-card li::before {
  content: none;
}

.lst-card li {
  padding: 0.2em 1em;
  margin-block: 1em;
  padding-block: 1em;
  background-color: var(--secondary-color-dark);
  border-radius: var(--radius);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.lst-card li h2,
.lst-card li h3 {
  margin: 0;
}

.lst-card li p {
  margin: 0;
}


/* List Card View Thumbnail */
.lst-card:has(.thumbnail) > li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.lst-card .thumbnail {
  width: auto;
  height: 130px;
  margin: 0 2px;
}

@media (max-width: 600px) {
  .lst-card:has(.thumbnail) > li {
    flex-direction: column;
    justify-content: flex-start;
  }

  .lst-card:has(.thumbnail) li div{
    order: 2;
    align-self: flex-start;
  }

  .lst-card:has(.thumbnail) li img{
    order: 1;
    height: 150px !important;
    margin: 0 auto;
    display: block;
  }
}

/* Page */
.artile-ttl::before {
  content: none;
}

.pg-title {
  padding: 0;
  margin: 0px;
}

/* Meta */
.meta p, .meta a {
  margin: 0;
  color: var(--primary-color);
}

.meta-icon {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 0.2em;
  margin-left: 0.5em;
}

.meta-icon:first-of-type {
    margin-left: 0;
}

.meta-icon svg {
  /*margin-left: 0.2em;*/
  padding-top: 0.25em;
  height: 0.9em;
  width: 0.9em;
}

.meta a {
  border: 1px solid var(--tertiary-color);
  padding: 2px;
  border-radius: var(--radius);
  background: var(--tertiary-color-light );
  margin: 0 2px;
}

.meta a:hover {
  background: var(--link-color);
  color: black;
}

.draft-lbl {
  background-color: var(--tertiary-color);
  color: var(--black);
  padding: 2px 4px;
  border-radius: var(--radius);
}

.highlight-wrapper {
  display:block;
  border-radius: var(--radius);
}

pre, .highlight {
  position:relative;
}

div.highlight:hover .copy-button,
pre:hover .copy-button {
  display: block;
}

.copy-button {
  opacity: 0.8;
  display: none;
  position:absolute;
  top:2px;
  right:2px;
  z-index:10;
  /*padding: 0.25rem 0.5rem;*/
  cursor:pointer;
  background-color: inherit;
  color: var(--code-fg);
  border: none;
}

.copy-button svg {
  color: var(--tertiary-color-light);
}

.copy-textarea {
  position:absolute;
  z-index:-10;
  opacity:0.05
}

.showmore {
  text-align: center;
}

.showmore button {
  border: 2px solid var(--tertiary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 1em;
  padding: .2em .4em;
  border-radius: var(--radius);
}

.showmore button:hover {
  border: 2px solid var(--link-color);
}

.pagenav {
  margin-top: 2rem;
  display: flex;
  background-color: var(--secondary-color-dark);
  border-radius: var(--radius);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.pagenav .prev, .pagenav .next {
  width: 50%;
  border: none;
  padding: 10px 20px;
}

.pagenav .prev {
  text-align: left;
  padding-right: 0;
  border-radius: var(--radius) 0 0 var(--radius);
}

.pagenav .next {
  padding-left: 0;
  margin-inline-start: auto;
  text-align: right;
  border-radius: 0 var(--radius) var(--radius) 0;
}

.pagenav .direction {
  font-size: small;
  font-weight: bold;
  opacity: 0.5;
}

.pagenav .prev:hover, .pagenav .next:hover {
  background-color: var(--tertiary-color-light);
  color: var(--primary-color);
}

.toc {
  background-color: var(--secondary-color-dark);
  min-width: 40%;
  margin-top: 10px;
  padding: 0.4em;
  border-radius: var(--radius);
  display: inline-block;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.toc details {
  box-shadow: none;
}

.toc summary {
  font-weight: bold;
  font-size: 1.05rem;
}

.toc-innr {
  padding-right: 2em;
}

.toc-innr ul {
  margin: 0;
}

.toc-innr a, .toc-innr a code {
  border-bottom: none;
}

.toc li:before {
  content: none;
}

.callout {
  padding: .75rem;
  margin: 1em 0;
  background: var(--secondary-color-dark);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.callout svg {
  padding-top: 0.3em;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2em;
}

.icon svg {
  width: 1em;
  height: 1em;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.pagination li {
  margin-left: 1em;
  margin-right: 1em;
}

.pagination li:before {
  content: none;
}

.pagination a {
  background-color: inherit;
  color: inherit;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: none;
}

.page-item {
  background-color: var(--tertiary-color);
  color: var(--black);
  border-radius: var(--radius);
}

.page-item:not(.disabled):not(.active):hover {
  background-color: var(--link-color);
  border: none;
}

.page-item.active {
  background-color: var(--link-color);
}

.page-item.disabled {
  opacity: 0.5;
}

.gist a {
  color: initial;
  background-color: initial;
  text-decoration: initial;
  border: initial;
}

.taxny-card-container {
  display: flex;
  flex-wrap: wrap;
}

.taxny-card {
  flex: 1 0;
  margin: 10px;
  background-color: var(--secondary-color-dark);
  padding: 10px;
  border-radius: var(--radius);
  white-space: nowrap;
}

.comment {
  margin-top: 1rem;
}

.anchor svg {
  width: 0.75em;
  height: auto;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline;
  opacity: .7;
  color: var(--primary-color);
  user-select: none;
  text-decoration: none;
  border: none;
}

.katex > .katex-html {
  white-space: normal;
}

.katex .base {
  margin-top: 2px;
  margin-bottom: 2px;
}

.gist .markdown-body .highlight pre, .gist .markdown-body pre {
  box-shadow: none;
}

.mermaid {
  background-color: var(--black);
  max-width: 100%;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--radius);
}

.highlight pre::-webkit-scrollbar-track,
.highlight>div::-webkit-scrollbar-track,
pre code::-webkit-scrollbar-track {
  background: var(--code-bg) !important;
}

.highlight pre::-webkit-scrollbar-thumb,
.highlight>div::-webkit-scrollbar-thumb,
pre code::-webkit-scrollbar-thumb {
  background: var(--code-scroll-thumb) !important;
}

::-webkit-scrollbar-thumb:hover,
.highlight pre::-webkit-scrollbar-thumb:hover,
.highlight>div::-webkit-scrollbar-thumb:hover,
pre code::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color-light) !important;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  opacity: 0.5;
  display: inline-flex;
  font-size: 0.98em;
  align-items: center;
}

.breadcrumbs li::before {
  content: none;
}

.breadcrumbs li::after {
  content: "»";
  width: 1em;
  text-align: center;
  display: inline-block;
}

.breadcrumbs a {
  border: none;
  display: inline-flex;
  align-items: center;
}

.breadcrumbs a svg {
  width: 0.94em;
  height: auto;
  text-align: center;
  vertical-align: text-top;
  opacity: inherit;
}

.cover-img {
  width: 100%;
  height: auto;
}

.pg-title svg {
  height: 1.5rem;
  width: auto;
}

.pg-title a {
  border: none;
  opacity: 0.6;
}

.headline {
  font-weight: bold;
  font-size: 1.05em;
}

.side-menu {
  display: flex;
}

#search-container {
  position: fixed;
  padding-top: 2em;
  padding-bottom: 2em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(var(--secondary-color), 0.7);
  z-index: 30;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none; /* TODO: Make this nun */
}

#search-query::-webkit-search-cancel-button,
#search-query::-webkit-search-decoration,
#search-query::-webkit-search-results-button,
#search-query::-webkit-search-results-decoration {
  display:none
}

.search {
  flex-grow: 1;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search .panel {
  padding: 10px;
  margin: 0 10px;
  border-radius: var(--radius);
  background-color: var(--secondary-color-dark);
}

.search .panel form {
  display: flex;
  justify-content: center;
}

.search .panel form svg {
  flex-grow: 0;
  width: 1.1em;
  height: auto;
  color: inherit;
}

.search .panel form input {
  flex-grow: 1;
  font-size: 1.1rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: transparent;
  appearance: none;
  border: none;
  outline: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.search .panel form input:focus {
  outline: 2px solid var(--tertiary-color);
}

.search .panel form button {
  flex-grow: 0;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

#search-results {
  background-color: var(--secondary-color-dark);
  flex-grow: 0;
  margin: 10px .5em;
  padding: 0;
  border-radius: var(--radius);
  overflow: auto;
}

.search .close-btn-ctr {
  display: flex;
  justify-content: center;
}

#search-close:hover {
  color: var(--tertiary-color);
}

#search-results li {
  line-height: 1.1em;
}

#search-results li:before {
  content: "";
  display: none;
  width: 0;
  margin-left: 0;
}

#search-results li a {
  display: block;
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: var(--radius);
}

#search-results li a:focus,
#search-results li a:hover {
  outline: 1px solid var(--tertiary-color);
}

#search-results li a p {
  margin: 0px;
}

#search-results a:hover {
  color: inherit;
}


.srch-title {
  font-size: 1.1em;
  font-weight: bold;
}

.srch-meta {
  opacity: 0.5;
}

.srch-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Clicking outside the search area will close the search. */
#search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#search-results,
.panel {
  z-index: 2;
}
