@import url("theme.css");

html {
  line-height: 1.5rem;
  scroll-behavior:smooth
}

body {
  font-family: var(--ff);
  background: var(--secondary-color);
  color: var(--primary-color);
  margin: 0 8px;
  padding: 0;
  transition: background 50ms ease-in-out, color 50ms ease-in-out;
}

header {
  display: flex;
  align-items:center;
  line-height: 2.5em;
  margin: 1rem 0 1rem 0rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--secondary-color-dark);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 2px solid var(--tertiary-color);
  word-break: break-word;
  word-wrap: break-word;
  overflow: break-word;
}

a:hover {
  color: var(--link-color);
}

mark {
  background-color: var(--tertiary-color-light);
  color: var(--primary-color);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid var(--secondary-color-dark);
  margin-top: 1rem;
  padding-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2rem;
  line-height: normal;
}

h1::before { content: '# '; }
h2::before { content: '## '; }
h3::before { content: '### '; }
h4::before { content: '#### '; }
h5::before { content: '##### '; }
h6::before { content: '###### '; }

ul {
  list-style-type: none;
  padding-left: 20px;
}

ul li:before {
  content: "-";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: var(--radius);
}

figcaption {
  text-align: center;
}

figure h4::before {
  content: '↳ ';
}

/* Code blocks */
code {
  background-color: var(--secondary-color-dark);
  padding: 0 .2em;
  word-break: break-word;
  word-wrap: break-word;
  overflow: break-word;
}

/*a code {*/
/*  border-bottom: 2px solid var(--tertiary-color);*/
/*}*/

pre {
  line-height: 1.5;
  padding: 0.5em;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
  display: block;
  overflow-x: auto;
}

.highlight pre code {
  overflow-x: unset;
}

pre:has(code) {
  color: var(--code-fg);
  background-color: var(--code-bg);
  border-radius: var(--radius);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.highlight>pre,
.highlight>div {
  border-radius: var(--radius);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  overflow-x: auto;
}

.highlight tbody pre {
  margin: 0;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

/* table */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th{
  padding: 6px;
  border-bottom: 2px solid var(--tertiary-color);
  font-size: large;
}

table td{
  padding: 6px;
  border-top: 1px solid var(--secondary-color-dark);
}

/* Blockquote */
blockquote {
  background: var(--secondary-color-dark);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-left: 4px solid var(--tertiary-color);
  border-radius: 0 var(--radius) var(--radius) 0;
  display: grid;
  grid-template-columns: 30px auto;
  margin: 0;
  padding-left: 2rem;
}

blockquote::before {
  background-repeat: no-repeat;
  content: "";
  width: 1em;
  height: 1em;
  grid-column: 1;
}

blockquote > * {
  grid-column: 2;
}

blockquote.info {
  border-color: var(--blockquote-info);
  background-color: var(--blockquote-info-bg);
  color: var(--black);
}
blockquote.info::before {
  /* rgb(100, 130, 180) */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="rgb(100, 130, 180)" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S224 177.7 224 160C224 142.3 238.3 128 256 128zM296 384h-80C202.8 384 192 373.3 192 360s10.75-24 24-24h16v-64H224c-13.25 0-24-10.75-24-24S210.8 224 224 224h32c13.25 0 24 10.75 24 24v88h16c13.25 0 24 10.75 24 24S309.3 384 296 384z"/></svg>');
}

blockquote.tip {
  border-color: var(--blockquote-tip);
  background-color: var(--blockquote-tip-bg);
  color: var(--black);
}
blockquote.tip::before {
  /* rgb(120, 170, 160) */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="rgb(120, 170, 160)" d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2c0 0 0 0 0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4c0 0 0 0 0 0c19.8 27.1 39.7 54.4 49.2 86.2l160 0zM192 512c44.2 0 80-35.8 80-80l0-16-160 0 0 16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/></svg>');
}

blockquote.warning {
  border-color: var(--blockquote-warning);
  background-color: var(--blockquote-warning-bg);
  color: var(--black);
}
blockquote.warning::before {
  /* rgb(200, 150, 50) */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="rgb(200, 150, 50)" d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>');
}

blockquote.danger {
  border-color: var(--blockquote-danger);
  background-color: var(--blockquote-danger-bg);
  color: var(--black);
}
blockquote.danger::before {
  /* rgb(180, 100, 100) */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="rgb(180, 100, 100)" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>');
}


details {
  border-left: 4px solid var(--tertiary-color);
  margin: 0;
  padding: 0.25rem 0.5rem;
  background: var(--secondary-color-dark);
  border-radius: 0 var(--radius) var(--radius) 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Custom animation */
@keyframes revealContent {
0% { opacity: 0; }
100% { opacity: 1; }
}

details[open] div {
  animation: revealContent 0.5s ease-out forwards;
}

::selection {
  background: var(--tertiary-color);
  color: #fff;
}

.header-cntr {
  display: flex;
  justify-content:space-between;
  width: 100%
}

.content {
  margin: 0 auto;
  max-width: 900px;
}

/* Header */
.title {
  display: inline-flex;
  align-items: center;
  color: var(--tertiary-color);
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: none;
}

.title img {
  margin-right: 0.2em;
  display: inline;
  width: 32px;
  height: auto;
}

.title:hover {
  color: var(--link-color);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-menu ul {
  margin: 0;
}

#main-menu li {
  display: inline;
}

#main-menu li:before {
  content: none;
}

#main-menu a {
  margin: 0.7em 0.5em;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: none;
}

#main-menu a:hover {
  border-bottom: 2px solid var(--tertiary-color);
}

#main-menu a svg {
  height: 1.1em;
  width: 1.1em;
  vertical-align: text-top;
}

#main-menu a.active {
  border-bottom: 2px solid var(--tertiary-color);
}

.mm-normal {
  display: inline
}

.mm-mobile-open ul {
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--secondary-color), 0.7);
  z-index: 30;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#mob-hb-icon, #mob-x-icon {
  display: none;
  background-color: inherit;
}

@media (max-width: 800px) {
  #mob-hb-icon {
    display: block;
  }
  .mm-normal {
    display: none;
  }
}

.main-menu a.lnk:hover, .socials-icon svg:hover {
  color: var(--link-color);
  border-bottom: 2px solid var(--tertiary-color);
}

.menu-btn svg,
.copy-button svg{
  height: 1.1em;
  width: 1.1em;
  vertical-align: text-top;
}

.menu-btn:hover {
  color: var(--tertiary-color);
}

body.dark #moon {
  display: none;
}

body:not(.dark) #sun {
  display: none;
}

.menu-btn {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#theme-switcher div {
  display: inline;
}

.avatar img {
  height: 100px;
  width: 100px;
  padding: 8px;
  border-radius: 50%;
}

.avatar.top {
  text-align: center;
}

.avatar.left {
  margin-top: 16px;
  position: relative;
  float: left;
}

.avatar.right {
  margin-top: 16px;
  position: relative;
  float: right;
}

.featured {
  margin-top: 0.2rem;
  clear: both;
}

.socials span {
  font-size: 1.5rem;
}

.socials ul {
  text-align: center;
  padding: 0;
}

.socials li::before {
  content: none;
}

.socials a {
  border-bottom: none;
}

.socials li {
  display: inline;
  margin: 0.2em;
}

.icon {
  position: relative;
}

.socials-icon svg {
  height:1.5em;
  width:1.5em;
  border-bottom: 2px solid var(--secondary-color);
}

/* List */
.lst-content {
  margin-top: 2rem;
}

.lst-type {
  margin-bottom: 0.2em;
  margin-top: 1.2em;
}

.lst-basic,
.lst-card {
  margin-top: .2em;
}

.lst-card {
  padding-left: 0;
}

.lst-basic li {
  display: flex;
}

.lst-basic li div {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lst time {
  white-space: nowrap;
}

.lst-card li::before {
  content: none;
}

.lst-card li {
  padding: 0.2em 1em;
  margin-block: 1em;
  padding-block: 1em;
  background-color: var(--secondary-color-dark);
  border-radius: var(--radius);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.lst-card li h2,
.lst-card li h3 {
  margin: 0;
}

.lst-card li p {
  margin: 0;
}

/* Page */
.artile-ttl::before {
  content: none;
}

.pg-title {
  padding: 0;
  margin: 0px;
}

/* Meta */
.meta p, .meta a {
  margin: 0;
  color: var(--primary-color);
}

.meta-icon {
  display: inline-block;
  vertical-align: bottom;
}

.meta-icon svg {
  /*margin-left: 0.2em;*/
  padding-top: 0.25em;
  height: 0.9em;
  width: 0.9em;
}

.meta a {
  border: 1px solid var(--tertiary-color);
  padding: 2px;
  border-radius: var(--radius);
  background: var(--tertiary-color-light );
  margin: 0 2px;
}

.meta a:hover {
  background: var(--link-color);
  color: black;
}

.draft-lbl {
  background-color: var(--tertiary-color);
  color: var(--black);
  padding: 2px 4px;
  border-radius: var(--radius);
}

.highlight-wrapper {
  display:block;
  border-radius: var(--radius);
}

pre, .highlight {
  position:relative;
}

div.highlight:hover .copy-button,
pre:hover .copy-button {
  display: block;
}

.copy-button {
  opacity: 0.8;
  display: none;
  position:absolute;
  top:2px;
  right:2px;
  z-index:10;
  /*padding: 0.25rem 0.5rem;*/
  cursor:pointer;
  background-color: inherit;
  color: var(--code-fg);
  border: none;
}

.copy-button svg {
  color: var(--tertiary-color-light);
}

.copy-textarea {
  position:absolute;
  z-index:-10;
  opacity:0.05
}

.showmore {
  text-align: center;
}

.showmore button {
  border: 2px solid var(--tertiary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 1em;
  padding: .2em .4em;
  border-radius: var(--radius);
}

.showmore button:hover {
  border: 2px solid var(--link-color);
}

.pagenav {
  margin-top: 2rem;
  display: flex;
  background-color: var(--secondary-color-dark);
  border-radius: var(--radius);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.pagenav .prev, .pagenav .next {
  width: 50%;
  border: none;
  padding: 10px 20px;
}

.pagenav .prev {
  text-align: left;
  padding-right: 0;
  border-radius: var(--radius) 0 0 var(--radius);
}

.pagenav .next {
  padding-left: 0;
  margin-inline-start: auto;
  text-align: right;
  border-radius: 0 var(--radius) var(--radius) 0;
}

.pagenav .direction {
  font-size: small;
  font-weight: bold;
  opacity: 0.5;
}

.pagenav .prev:hover, .pagenav .next:hover {
  background-color: var(--tertiary-color-light);
  color: var(--primary-color);
}

.toc {
  background-color: var(--secondary-color-dark);
  min-width: 40%;
  margin-top: 10px;
  padding: 0.4em;
  border-radius: var(--radius);
  display: inline-block;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.toc details {
  box-shadow: none;
}

.toc summary {
  font-weight: bold;
  font-size: 1.05rem;
}

.toc-innr {
  padding-right: 2em;
}

.toc-innr ul {
  margin: 0;
}

.toc-innr a, .toc-innr a code {
  border-bottom: none;
}

.toc li:before {
  content: none;
}

.callout {
  padding: .75rem;
  margin: 1em 0;
  background: var(--secondary-color-dark);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.callout svg {
  padding-top: 0.3em;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.icon svg {
  width: 1em;
  height: 1em;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.pagination li {
  margin-left: 1em;
  margin-right: 1em;
}

.pagination li:before {
  content: none;
}

.pagination a {
  background-color: inherit;
  color: inherit;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: none;
}

.page-item {
  background-color: var(--tertiary-color);
  color: var(--black);
  border-radius: var(--radius);
}

.page-item:not(.disabled):not(.active):hover {
  background-color: var(--link-color);
  border: none;
}

.page-item.active {
  background-color: var(--link-color);
}

.page-item.disabled {
  opacity: 0.5;
}

.gist a {
  color: initial;
  background-color: initial;
  text-decoration: initial;
  border: initial;
}

.taxny-card-container {
  display: flex;
  flex-wrap: wrap;
}

.taxny-card {
  flex: 1 0 200px;
  margin: 10px;
  background-color: var(--secondary-color-dark);
  padding: 10px;
  border-radius: var(--radius);
}

.comment {
  margin-top: 1rem;
}

.anchor svg {
  width: 0.75em;
  height: auto;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline;
  opacity: .7;
  color: var(--primary-color);
  user-select: none;
  text-decoration: none;
  border: none;
}

.katex > .katex-html {
  white-space: normal;
}

.katex .base {
  margin-top: 2px;
  margin-bottom: 2px;
}

.gist .markdown-body .highlight pre, .gist .markdown-body pre {
  box-shadow: none;
}

.mermaid {
  background-color: var(--black);
  max-width: 100%;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--radius);
}

.highlight pre::-webkit-scrollbar-track,
.highlight>div::-webkit-scrollbar-track,
pre code::-webkit-scrollbar-track {
  background: var(--code-bg) !important;
}

.highlight pre::-webkit-scrollbar-thumb,
.highlight>div::-webkit-scrollbar-thumb,
pre code::-webkit-scrollbar-thumb {
  background: var(--code-scroll-thumb) !important;
}

::-webkit-scrollbar-thumb:hover,
.highlight pre::-webkit-scrollbar-thumb:hover,
.highlight>div::-webkit-scrollbar-thumb:hover,
pre code::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color-light) !important;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  opacity: 0.5;
  display: inline-flex;
  font-size: 0.98em;
  align-items: center;
}

.breadcrumbs li::before {
  content: none;
}

.breadcrumbs li::after {
  content: "»";
  width: 1em;
  text-align: center;
  display: inline-block;
}

.breadcrumbs a {
  border: none;
  display: inline-flex;
  align-items: center;
}

.breadcrumbs a svg {
  width: 0.94em;
  height: auto;
  text-align: center;
  vertical-align: text-top;
  opacity: inherit;
}

.cover-img {
  width: 100%;
  height: auto;
}

.pg-title svg {
  height: 1.5rem;
  width: auto;
}

.pg-title a {
  border: none;
  opacity: 0.6;
}

.headline {
  font-weight: bold;
  font-size: 1.05em;
}

.side-menu {
  display: flex;
}

#search-container {
  position: fixed;
  padding-top: 2em;
  padding-bottom: 2em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(var(--secondary-color), 0.7);
  z-index: 30;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none; /* TODO: Make this nun */
}

#search-query::-webkit-search-cancel-button,
#search-query::-webkit-search-decoration,
#search-query::-webkit-search-results-button,
#search-query::-webkit-search-results-decoration {
  display:none
}

.search {
  flex-grow: 1;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search .panel {
  padding: 10px;
  margin: 0 10px;
  border-radius: var(--radius);
  background-color: var(--secondary-color-dark);
}

.search .panel form {
  display: flex;
  justify-content: center;
}

.search .panel form svg {
  flex-grow: 0;
  width: 1.1em;
  height: auto;
  color: inherit;
}

.search .panel form input {
  flex-grow: 1;
  font-size: 1.1rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: transparent;
  appearance: none;
  border: none;
  outline: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.search .panel form input:focus {
  outline: 2px solid var(--tertiary-color);
}

.search .panel form button {
  flex-grow: 0;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

#search-results {
  background-color: var(--secondary-color-dark);
  flex-grow: 0;
  margin: 10px .5em;
  padding: 0;
  border-radius: var(--radius);
  overflow: auto;
}

.search .close-btn-ctr {
  display: flex;
  justify-content: center;
}

#search-close:hover {
  color: var(--tertiary-color);
}

#search-results li {
  line-height: 1.1em;
}

#search-results li:before {
  content: "";
  display: none;
  width: 0;
  margin-left: 0;
}

#search-results li a {
  display: block;
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: var(--radius);
}

#search-results li a:focus,
#search-results li a:hover {
  outline: 1px solid var(--tertiary-color);
}

#search-results li a p {
  margin: 0px;
}

#search-results a:hover {
  color: inherit;
}


.srch-title {
  font-size: 1.1em;
  font-weight: bold;
}

.srch-meta {
  opacity: 0.5;
}

.srch-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Clicking outside the search area will close the search. */
#search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#search-results,
.panel {
  z-index: 2;
}