<head>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="{{ .Site.LanguageCode }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  {{/* Title */}}
  {{ if .IsHome }}
  <title>{{ .Site.Title | emojify }} &middot; Home </title>
  <meta name="title" content="{{ .Site.Title | emojify }}" />
  {{ else }}
  <title>{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}</title>
  <meta name="title" content="{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}" />
  {{ end }}

  {{/* Metadata */}}
  {{ with (.Params.Summary | default .Params.Description) | default .Site.Params.description }}
  <meta name="description" content="{{ . }}" />
  {{ end }}
  {{ with  .Params.Tags | default .Site.Params.keywords -}}
  <meta name="keywords" content="{{ range . }}{{ . }}, {{ end -}}" />
  {{- end }}
  <link rel="canonical" href="{{ .Permalink }}" />

  {{ partialCached "head/css.html" . }}
  {{ partialCached "head/js.html" . }}

  {{/* Icons */}}
  {{ if templates.Exists "partials/favicons.html" }}
    {{ partialCached "favicons.html" .Site }}
  {{ else }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}" />
    <link rel="manifest" href="{{ "site.webmanifest" | relURL }}" />
  {{ end }}

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink ($.Site.Title | emojify) | safeHTML }}
  {{ end -}}

  {{ template "_internal/opengraph.html" . }}
  {{ with .Params.coverImg }}
    <meta property="og:image" content="{{ . | absURL }}" />
  {{ end }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ with .Params.coverImg }}
    <meta name="twitter:image" content="{{ . | absURL }}" />
  {{ end }}

  {{/* vendor */}}
  {{ partial "head/vendor.html" . }}

  {{/* analytics */}}
  {{ partialCached "analytics/main.html" . }}

  {{/* Site Verification */}}
  {{ with .Site.Params.verification.google }}
    <meta name="google-site-verification" content="{{ . }}" />
  {{ end }}
  {{ with .Site.Params.verification.bing }}
    <meta name="msvalidate.01" content="{{ . }}" />
  {{ end }}
  {{ with .Site.Params.verification.pinterest }}
    <meta name="p:domain_verify" content="{{ . }}" />
  {{ end }}
  {{ with .Site.Params.verification.yandex }}
    <meta name="yandex-verification" content="{{ . }}" />
  {{ end }}

  {{/* Preload fonts */}}
  {{ $fonts := .Site.Params.preloadFonts | default (slice "fonts/Ubuntu-Regular.woff2") }}
  {{ range $fonts }}
    <link rel="preload" href="{{ absURL . }}" as="font" type="font/woff2" crossorigin>
  {{ end }}

  {{ if templates.Exists "partials/extend-head.html" }}
  {{ partialCached "extend-head.html" .Site }}
  {{ end }}

  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}

</head>
