{{/* headline */}}
{{ with .Site.Params.homepage.headline }}
<span class="hm-hl">{{ . | markdownify }}</span>
{{ end }}

{{/* image */}}
{{ with .Site.Params.homepage.image }}
{{ $img := "" }}
{{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
{{ $img = resources.GetRemote . }}
{{ else }}
{{ $img = resources.Get . }}
{{ end }}
{{ if $img }}
{{ $where := $.Site.Params.homepage.where | default "top" }}
<div class="avatar {{ $where }}"> <img alt="Profile" src="{{ $img.RelPermalink }}" /> </div>
{{ end }}
{{ end }}

{{/* Content from _index.html */}}
{{ .Content }}

{{ if .Site.Params.Social }}
  <div class="socials">
  {{ partial "home/socials.html" . }}
  </div>
{{ end }}
