{{ $showRecent := .Site.Params.homepage.showRecent | default true }}
{{ $showRecentLabel := .Site.Params.homepage.showRecentLabel | default "Recent" }}
{{ $showRecentItems := .Site.Params.homepage.showRecentItems | default 3 }}
{{ $showReadMore := .Site.Params.homepage.showReadMore | default true }}
{{ $showMore := .Site.Params.homepage.showMore | default false }}
{{ $showMoreDest := .Site.Params.homepage.showMoreDest | default "/posts" }}

{{ if $showRecent }}
<div class="featured" >
  <h1>{{ $showRecentLabel }}</h1>
  {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
  <ul class="lst-card">
  {{ range first $showRecentItems $paginator.Pages }}
    {{ partial "list/card.html" (dict "page" . "lvl" 2) }}
  {{ end }}
  </ul>
  {{ if $showMore }}
  <div class="showmore">
    <button onclick="window.location.href = '{{ $showMoreDest }}'" aria-label="Show More"> Show More </a>
  </div>
  {{ end }}
</div>
{{ end }}
